*{
	margin: 0;
	padding: 0;
}
body{
	background: #aa00cc;
}
.random{
	font-size: 16px;
	color: #e8e8e8;
}
.random:active, .random:link, .random:visited, .random:hover{
	text-decoration: none;
	color: #e8e8e8;
}
.random:hover{
	color: #eeaa00;
}
.main{
	width: 250px;
	margin: 0 auto;
	margin-top: 150px;
}
.span-pre{
	position: relative;
	height: 34px;
	line-height: 34px;
}
.search-hidden{
	display: none;
}
.search-visible{
	display: inline-block;
	float: left;
	width: 250px;
}
.icon{
	display: inline-block;
	color: #ffdd00;
	font-size: 30px;
	width: 34px;
	height: 34px;
	line-height: 34px;
	cursor: pointer;
}
.icon-in{
	position: absolute;
	transform: translateX(-100%);
}
.icon:hover{
	text-decoration: none;
	color: #f00;
}