*{
	margin: 0;
	padding: 0;
	font-family: Helvetica, Tahoma, Arial, "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
	font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
}

/*specific*/
.p-box{
	z-index: 10;
}
.player-box{
	width: 250px;
	position: relative;
	margin: 0 auto;
	margin-top: 150px;
}
.player-box button{
	background: transparent;
	width: 30px;
	text-align: center;
	margin-right: 20px;
	border: none;
	outline: none;
	box-shadow: none;
	text-decoration: none;
	transition: color 0.5s;
	-webkit-transition: color 0.5s;
}
.player-box button:hover{
	color: #af0;
	text-shadow: 0 0 5px #a00;
}
.controller{
	border: 1px solid #e8e8e8;
}
.song-list{
	position: absolute;
	right: 0;
	width: 100%;
	max-height: 350px;
	border: 1px solid #e8e8e8;
	font-size: 12px;
	padding: 10px;
	overflow-x: hidden;
	overflow-y: auto;
	color: #a8a8a8;
}
.song-list::-webkit-scrollbar{
	display: none;
}
.song-list >ul{
	list-style: none;
}
.song-item{
	position: relative;
	padding: 10px;
	overflow: hidden;
	float: left;
	cursor: pointer;
	width: 100%;
	border-bottom: 1px solid #e8e8e8;
	border-radius: 100px;
	transition: background-color 0.8s;
	-webkit-transition: background-color 0.8s;
}
.song-item:hover, .auto-trans{
	background-color: #fa15aa;
}
.song-item:hover .del-song{
	display: block;
}
.song-name{
	display: block;
	font-size: 16px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-break: break-all;
	height: 100%;
	line-height: 100%;
	float: left;
	width: 180px;
	margin-right: 20px;
}
#add-song{
	display: block;
	color: #a8a8a8;
	cursor: pointer;
	padding-bottom: 5px;
	transition: color 0.5s;
	-webkit-transition: color 0.5s;
}
#add-song:hover{
	color: #af0;
	text-shadow: 0 0 5px #a00;
}
.del-song{
	position: absolute;
	right: 0;
	margin-right: 5px;
	display: none;
	text-align: center;
	width: 15px;
	border-radius: 15px;
	cursor: pointer;
	background-color: #fff;
}
.del-song:hover{
	background-color: #a00;
}
.hide{
	display: none;
}
/*进度条*/
#duration{
	position: relative;
	width: 240px;
	height: 4px;
	margin: 15px auto;
	margin-bottom: 20px;
	background-color: #000;
	box-shadow: 0 0 1px #000;
	cursor: pointer;
}

#currentTime{
	position: absolute;
	display: block;
	box-shadow: 0 0 1px #0f0;
	height: 4px;
	background-color: #af0;
	width: 0;
}
/*volumn*/
#volumn{
	display: inline-block;
	position: relative;
	vertical-align: middle;
	width: 39px;
	height: 4px;
	margin-bottom: 3px;
	margin-left: -10px;
	background-color: #0f0;
	cursor: pointer;
}
#v-ctrl{
	display: block;
	position: absolute;
	left: 0;
	vertical-align: middle;
	width: 50%;
	height: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	background-color: #f00;
}
/*songname&time*/
#song-name{
	font-size: 18px;
	font-style: italic;
	color: transparent;
	text-stroke: 1px #8f0;
	-webkit-text-stroke: 1px #8f0;
	text-shadow: 0 0 2px #ff0;
}
/*canvas*/
#myCanvas{
	z-index: -10;
	position: absolute;
}